*{
    margin: 0;
}
html, body, .content{
    height: 100%;
}
body{
    background-color: darkgray;
}
h1{
    font-family:'Playfair Display', serif;
}
.content{
    width: 80%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    background-color: white;
}
.letter{
    float: left;
    font-size: 60px;
    margin-right: 20px;
    margin-left: 30px;
}
.text > p{
    font-family: 'Trispace', sans-serif;
    margin: 20px;
    font-size: 20px;
}

.btn{
    border: 1px solid orange;
    background-color: white;
    font-size: 100%;
    width: 200px;
    height: 60px;
    margin: 20px;
    color: orange;
    font-family: 'Playfair Display', serif;
    outline: none;
}

